//Base Width
$tab: 768;
$lap: 1024;
$pc: 1200;



//Media Query
@mixin tab {
  @media screen and (min-width: $tab + px) {
    @content;
  }
}
@mixin lap {
  @media screen and (min-width: $lap + px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: $pc + px) {
    @content;
  }
}



//Calc Percentage
@function per($child, $parent){
  @return ($child / $parent) * 100%;
}



//Font Size
@mixin fontSet($fs, $lh, $ls, $device){
  font-size: ($fs / $device) * 100vw;
  line-height: ($lh / $fs);
  letter-spacing: $ls / 1000 + em;
  @include tab(){
    font-size: ($fs / 10) + rem;
  }
}