//Base Width
$tab: 768;
$lap: 1024;
$pc: 1200;



//Media Query
@mixin tab {
  @media screen and (min-width: $tab + px) {
    @content;
  }
}
@mixin lap {
  @media screen and (min-width: $lap + px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: $pc + px) {
    @content;
  }
}



//display
@mixin dis($dis:none){
  display: $dis;
}
@mixin dflex($jc:fs,$ai:fs){
  display: flex;
  flex-wrap: wrap;
  @if $jc == sb{justify-content: space-between;}
  @else if $jc == fs{justify-content: flex-start;}
  @else if $jc == fe{justify-content: flex-end;}
  @else if $jc == c{justify-content: center;}
  @else if $jc == sa{justify-content: space-around;}
  @else{justify-content: $jc;}
  @if $ai == c{align-items: center;}
  @else if $ai == st{align-items: stretch;}
  @else if $ai == fs{align-items: flex-start;}
  @else if $ai == fe{align-items: flex-end;}
  @else{align-items: $ai;}
  @content;
}



//Calc Percentage
@function per($child, $parent){
  @return ($child / $parent) * 100%;
}



//BaseColor
$white: #fff;
$dark: #333;
//ThemeColor
$smokeBrown: #876B52;
$darkBrown: #3B2E24;
$brown: #54351A;
$lightBrown: #87552A;
$beige: #D4A781;
$milk: #FAF7EE;



//Font Size
@mixin fontSet($fs, $lh, $ls, $device){
  font-size: ($fs / $device) * 100vw;
  line-height: ($lh / $fs);
  letter-spacing: $ls / 1000 + em;
  @include tab(){
    font-size: ($fs / 10) + rem;
  }
}



//Text Align
@mixin ta($ta-pos){
  text-align: $ta-pos;
}
